#root{
  width: 100%;
  height: 100%;
}

body {
  
  background-color: #282c34;
  margin : 0;
  padding : 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  height: 500px;
  width: 500px;
}

.surligne {
  background: linear-gradient(to bottom right, #77A1D3, #79CBCA, #E684AE, #FF8A9A);
}
.filmBlock{
  padding : 1rem;
  
  border-radius: 10px;
}
.filmBlock:hover{
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #404857;
  box-shadow: 0 0 10px 0 #282c34;
  transition: 0.5s;
  
}
.title{
  text-decoration: underline;
}
.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.formClass{
  display: flex;
  flex-direction: row;
  align-items: center;
  width : 1vw;
  gap : 1rem;
  justify-content: center;
  margin: 1rem;
}

.formClass input{
  border-radius: 5px;
  flex-grow: 1;
}
.formClass button{
  flex-grow: 1;
}


